---
import Gallery from "../components/Gallery.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Torre Obsidiana">
    <h1 class="tracking-wider text-3xl font-bold my-20 uppercase items-center justify-center flex gotham">Nuestra Galería!</h1>
    
    <Gallery />
</Layout>