<section id = "Amenidades" class="w-full h-[100vh] flex flex-col justify-center items-center" style="background-color: rgb(230,230,230);">      
        <!DOCTYPE html>             
<html>
    <style>
        h1 {
            position: absolute;
        }

        @font-face {
        font-family: 'MiFuente';
        src: url('fonts/bnparadox-webfont.woff') format('woff');
}
        .title{
                top: 70px;
                left: 630px;
                position: center;
                font-weight: bold;
                font-size: x-large;
                font-family: 'MiFuente', sans-serif;
        }

        .co-working {
            top: 250px;
            left: 200px;
            font-family: 'MiFuente', sans-serif;
            font-size: larger;
        }

        .gym {
            top: 450px;
            left: 200px;
            font-family: 'MiFuente', sans-serif;
            font-size: larger;
        }

        .pet-park {
            top: 250px;
            left: 500px;
            font-family: 'MiFuente', sans-serif;
            font-size: larger;
        }

        .area-social {
            top: 250px;
            left: 800px;
            font-family: 'MiFuente', sans-serif;
            font-size: larger;
        }

        .terraza {
            top: 450px;
            left: 500px;
            font-family: 'MiFuente', sans-serif;
            font-size: larger;
        }

        .ciclopuerto {
            top: 450px;
            left: 800px;
            font-family: 'MiFuente', sans-serif;
            font-size: larger; 
        }

        .e-commerce {
            top: 450px;
            left: 1060px;
            font-family: 'MiFuente', sans-serif;
            font-size: larger;
        }

        .lockers {
            top: 470px;
            left: 1080px;
            font-size: larger;
            font-family: 'MiFuente', sans-serif;
        }

        .lobby{
                top:250px;
                left: 1100px;
                font-size: larger;
                font-family: 'MiFuente', sans-serif;
        }
    </style>
</head>
<body>
    <h1 class="title">AMENIDADES</h1>
    <h1 class="co-working">Co-Working</h1>
    <h1 class="gym">Gimnasio</h1>
    <h1 class="pet-park">Pet Park</h1>
    <h1 class="area-social">Area Social</h1>
    <h1 class="terraza">Terraza</h1>
    <h1 class="ciclopuerto">Ciclopuerto</h1>
    <h1 class="e-commerce ">E-Commerce </h1>
    <h1 class= "lockers">Lockers</h1>
    <h1 class="lobby">Lobby</h1>
</body>
</html>

<img src="/ciclo.png" alt="Descripción de la imagen" style="position: absolute; top: 310px; left: 745px;"> 
<img src="/lobby.png" alt="Descripción de la imagen" style="position: absolute; top: 110px; left: 1030px;">
<img src="/gym.png" alt="Descripción de la imagen" style="position: absolute; top: 310px; left: 150px;">
<img src="/pet.png" alt="Descripción de la imagen" style="position: absolute; top: 110px; left: 440px;">
<img src="/cowork.png" alt="Descripción de la imagen" style="position: absolute; top: 110px; left: 150px;">
<img src="/locker.png" alt="Descripción de la imagen" style="position: absolute; top: 300px; left: 1030px;">
<img src="/salon.png" alt="Descripción de la imagen" style="position: absolute; top: 110px; left: 745px;">
<img src="/terraza.png" alt="Descripción de la imagen" style="position: absolute; top: 300px; left: 420px;">




</section>