<section id="Amenidades" class="w-full h-[100vh]" style="background-color: rgb(254,255,255);">
    <div class="content">
        <h1 class="title">AMENIDADES</h1>

<div class = "grid-container">
    
    <div>
        <img src="/ciclo.png" alt="Descripción de la imagen">
        Ciclopuerto</div>
    <div>
        <img src="/lobby.png" alt="Descripción de la imagen">
        Lobby</div>
    <div>
        <img src="/gym.png" alt="Descripción de la imagen">
        Gimnasio</div>
    <div>
        <img src="/pet.png" alt="Descripción de la imagen">
        Pet Park</div>
    <div>
        <img src="/cowork.png" alt="Descripción de la imagen">
        Coworking</div>
    <div>
        <img src="/locker.png" alt="Descripción de la imagen" style="height: 80%; width: 60%;">
        E-Lockers</div>
    <div>
        <img src="/salon.png" alt="Descripción de la imagen" style="height: 80%">
        Salon de Usos Multiples</div>
    <div>
        <img src="/terrace.png" alt="Descripción de la imagen" style="height: 80%">
        Terraza</div>
</div>
</div>
</section>

<style>
#Amenidades {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-size: xx-large;
    font-family: 'MiFuente', sans-serif;
}
     @font-face {
        font-family: 'MiFuente';
        src: url('fonts/Gotham-Book.woff') format('woff');
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}
.grid-container{
    display: grid;
   
    grid-auto-rows: 1fr;
    column-gap: 0px;
    row-gap: 60px;
    background-color: rgb(254,255,255);
}
.grid-container img {
    max-width: 40%;
    max-height: 100%;
    object-fit: cover;
}

</style>
</section>
======


<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-columns: 350px 360px 360px 350px;
        grid-auto-rows: 1fr;
        gap: 10px;
        background-color: rgb(254, 255, 255);
    }
    .grid-container div {
        background-color: rgb(254, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-family: 'MiFuente', sans-serif;
        box-sizing: border-box;
        font-size: larger;
        height: 100%;
        
       
    }

    .grid-container img {  
    width: 60%;
    height: 100%;
        object-fit: cover;
    }
</style>
