<section
    id="Amenidades"
    class="w-full h-[100vh]"
    style="background-color: rgb(254,255,255);"
>
    <div class="content gotham">
        <h1 class="title">AMENIDADES</h1>

        <div class="grid-container">
            <div>
                <img src="/ciclo.png" alt="Descripción de la imagen" />
                Ciclopuerto
            </div>
            <div>
                <img src="/lobby.png" alt="Descripción de la imagen" />
                Lobby
            </div>
            <div>
                <img src="/gym.png" alt="Descripción de la imagen" />
                Gimnasio
            </div>
            <div>
                <img src="/pet.png" alt="Descripción de la imagen" />
                Pet Park
            </div>
            <div>
                <img src="/cowork.png" alt="Descripción de la imagen" />
                Coworking
            </div>
            <div>
                <img
                    src="/locker.png"
                    alt="Descripción de la imagen"
                    style="height: 80%; width: 60%;"
                />
                E-Lockers
            </div>
            <div>
                <img
                    src="/salon.png"
                    alt="Descripción de la imagen"
                    style="height: 80%"
                />
                Salon de Usos Multiples
            </div>
            <div>
                <img
                    src="/terrace.png"
                    alt="Descripción de la imagen"
                    style="height: 80%"
                />
                Terraza
            </div>
        </div>
    </div>
</section>
