<section
    id="Amenidades"
    class="w-full flex justify-center gotham max-w-full my-5"
    style="background-color: rgb(254,255,255);"
>
    <div class="w-full lg:max-w-7xl lg:container text-center uppercase">
        <h3 class="tracking-wider text-xl font-bold">Tus mejores momentos, en los mejores espacios</h3>

        <div class="w-full justify-center items-center flex flex-col md:flex-row md:flex-wrap gap-2 py-5 lg:gap-4">
            <div class="w-full md:w-1/3 lg:w-1/5 h-[200px] flex flex-col items-center justify-center">
                <img
                    src="/ciclo.png"
                    alt="Descripción de la imagen"
                    class="h-[90%] object-center object-cover flex-grow"
                />
                <p>Ciclopuerto</p>
            </div>
            <div class="w-full md:w-1/3 lg:w-1/5 h-[200px] flex flex-col items-center justify-center">
                <img
                    src="/lobby.png"
                    alt="Descripción de la imagen"
                    class="h-[90%] object-center object-cover flex-grow"
                />
                <p>Lobby</p>
            </div>
            <div class="w-full md:w-1/3 lg:w-1/5 h-[200px] flex flex-col items-center justify-center">
                <img
                    src="/gym.png"
                    alt="Descripción de la imagen"
                    class="h-[90%] object-center object-cover flex-grow"    
                />
                <p>Gimnasio</p>
            </div>
            <div class="w-full md:w-1/3 lg:w-1/5 h-[200px] flex flex-col items-center justify-center">
                <img
                    src="/pet.png"
                    alt="Descripción de la imagen"
                    class="h-[90%] object-center object-cover flex-grow"
                />
                <p>Pet Park</p>
            </div>
            <div class="w-full md:w-1/3 lg:w-1/5 h-[200px] flex flex-col items-center justify-center">
                <img
                    src="/cowork.png"
                    alt="Descripción de la imagen"
                    class="h-[90%] object-center object-cover flex-grow"
                />
                <p>Coworking</p>
            </div>
            <div class="w-full md:w-1/3 lg:w-1/5 h-[200px] flex flex-col items-center justify-center">
                <img
                    src="/locker.png"
                    alt="Descripción de la imagen"
                    class="h-[90%] object-center object-cover flex-grow"
                />
                <p>E-Lockers</p>
            </div>
            <div class="w-full md:w-1/3 lg:w-1/5 h-[200px] flex flex-col items-center justify-center">
                <img
                    src="/salon.png"
                    alt="Descripción de la imagen"
                    class="h-[90%] object-center object-cover flex-grow"
                />
                <p>Salon de Usos Multiples</p>
            </div>
            <div class="w-full md:w-1/3 lg:w-1/5 h-[200px] flex flex-col items-center justify-center">
                <img
                    src="/terrace.png"
                    alt="Descripción de la imagen"
                    class="h-[90%] object-center object-cover flex-grow"
                />
                <p>Terraza</p>
            </div>
        </div>
    </div>
</section>
