<contacto
  id="contacto"
  class="gotham w-full flex items-center justify-center bg-black text-white h-full md:h-1/5"
  style="background-image: url('/contactos.png'); background-size: cover; background-position: center;"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Contact Us</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <form>
            <h1>CONTÁCTANOS</h1>
            <h2>Av. Obsidiana #2552, Residencial Victoria, Zapopan, Jalisco</h2>
            <h3>Tel. / Whats.ㅤㅤㅤㅤ(33) 3218 0547</h3>
            <h4>Correo: informes@torreobsidiana.com</h4>
            <a href= "/brochure.pdf"download class="download-btn">Descarga nuestro brochure</a>
        </form>
    </div>
</body>
</contacto>

<style>
*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

.download-btn{
    background-color: white;
    color: black;
    padding: 9px 10px;
    font-size: 20px;
    border-radius: 5px;

}
.container form a{
    padding:8px 10px;
    padding-bottom: 1px;
    padding-top: 10px;
}

.download-btn:hover{
    background-color: grey;
}
.container form a {
  width:50%; /* Opcional: hacer que el botón ocupe todo el ancho en dispositivos móviles */
  margin: 10px auto; /* Centrar el botón en dispositivos móviles */
  text-align:center;
}


.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    flex-wrap: wrap;
}

.container form h1{
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    margin-top: 28px;
    width: 500px;
    text-align: center;
}

.container form h2{
    width: 500px;
    height: 50px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 3px;
    background: none;
    
}

.container form h3{
    width: 500px;
    height: 50px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 3px;
    background: none;
    
}

.container form h4{
    width: 500px;
    height: 50px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 3px;
    background: none;
    
}

.container form #button{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    width: 100px;
    padding: 5px;
    margin-right: 500px;
    margin-bottom: 50px;
    transition: 0.3s;
}

.container form #button:hover{
    opacity: 0.7;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .container form {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .container form h1 {
    width: 100%;
    font-size: 30px;
  }

  .container form h2 {
    width: 100%;
    font-size: 15px;
    padding: 20px;
  }

  .container form h3 {
    width: 100%;
    font-size: 15px;
    
    padding:28px 20px;
  }

  .container form #button {
    font-size: 16px; /* Ajusta el tamaño de la fuente */
    width: auto; /* Deja que el ancho se adapte al contenido */
    margin: 10px auto; /* Centra el botón */
  }

  .container form h4 {
    width: 100%;
    font-size: 15px;
    padding:15px 20px;
  }
}

.container form a {
  /* ... otros estilos ... */
  width:90%; /* Opcional: hacer que el botón ocupe todo el ancho en dispositivos móviles */
  margin: 15px auto; /* Centrar el botón en dispositivos móviles */
}

</style>