---
import Botones from "./Departamentos/Botones";
import ListaDepartamentos from "./Departamentos/Departamentos";
---

<section
  id="departamentos"
  class="min-h-screen w-screen snap-center flex flex-col justify-center items-center"  
>
  <Botones client:visible/>
  <ListaDepartamentos client:visible/>
</section>