---
import Botones from "./Departamentos/Botones";
import ListaDepartamentos from "./Departamentos/Departamentos";
---

<section
  id="hero"
  class="min-h-screen w-full snap-center flex flex-col justify-center"  
>
    <Botones client:visible/>
    <ListaDepartamentos client:visible/>
</section>