---
// import Botones from "./Departamentos/Botones";
import Carrousel, { type Slides } from "./Departamentos/Carrousel";
import ListaDepartamentos from "./Departamentos/Departamentos";

const carrousel_slides: Slides[] = [
  {
    title: "",
    legend: "",
    img: "/depcarrusel1.webp",
  },
  {
    title: "",
    legend: "",
    img: "/depcarrusel2_1.png",
  },
  {
    title: "",
    legend: "",
    img: "/depcarrusel3.webp",
  },
  {
    title: "",
    legend: "",
    img: "/depcarrusel4.webp",
  },
];
---

<section id="departamentos" class="min-h-screen gotham py-14 bg-gris -skew-y-3">
  <div class="skew-y-3 w-full flex flex-col justify-center items-center">
    
    <Carrousel slides={carrousel_slides} client:idle />

    <div class="max-w-3xl tracking-wider text-3xl font-bold my-5 uppercase text-center">
      <h3 class="uppercase -tracking-wide">Planta tipo</h3>
      <img
        loading="lazy"
        src="C2.png"
        width="100%"
        class="object-cover object-center w-full rounded-lg"
      />
      <h3 class="uppercase -tracking-wide">NIVEL 1-9</h3>
    </div>

    <ListaDepartamentos client:visible />
  </div>
  <style>
    .departamentos {
      mix-blend-mode: color-burn;
    }
  </style>
</section>
