---
// import Botones from "./Departamentos/Botones";
import Carrousel from "./Departamentos/Carrousel";
import ListaDepartamentos from "./Departamentos/Departamentos";
---

<section
  id="departamentos"
  class="min-h-screen w-screen snap-center flex flex-col justify-center items-center"  
>
  <Carrousel client:idle/>
  <!-- <Botones client:visible/> -->
  <ListaDepartamentos client:visible/>
</section>