---
// import Botones from "./Departamentos/Botones";
import Carrousel, { type Slides } from "./Departamentos/Carrousel";
import ListaDepartamentos from "./Departamentos/Departamentos";

const carrousel_slides: Slides[] = [
  {
    title: "",
    legend: "",
    img: "/depcarrusel1.webp",
  },
  {
    title: "",
    legend: "",
    img: "/depcarrusel2.webp",
  },
  {
    title: "",
    legend: "",
    img: "/depcarrusel3.webp",
  },
  {
    title: "",
    legend: "",
    img: "/depcarrusel4.webp",
  },
];
---

<section
  id="departamentos"
  class="min-h-screen w-full snap-center flex flex-col justify-center items-center gotham"
>
  <h3 class="tracking-wider text-3xl font-bold my-5 uppercase">
    Tu siguiente hogar
  </h3>

  <Carrousel slides={carrousel_slides} client:idle />
  <ListaDepartamentos client:visible />
</section>
