<footer
 
  class="gotham w-full flex items-center justify-center bg-black text-white h-auto md:h-1/5"
>
  <div
    class="max-w-7xl h-auto flex flex-col lg:flex-row justify-center items-center"
  >
    <div class="w-full md:w-1/2 lg:w-1/4">
      <img
        loading="lazy"
        src="/logos/logo_transparente.png"
        height="50%"
        class="object-cover object-center"
      />
    </div>
    <div class="flex flex-col gap-4 text-lg">
      <p>Av. Obsidiana #2552, Residencial</p>
      <p>Victoria, Zapopan, Jal.</p>
      <p>Teléfono: (33) 3218 0547</p>
      <p>Correo: informes@torreobsidiana.com</p>
    </div>
  </div>
</footer>
