<footer
  id="contacto"
  class="gotham w-full flex items-center justify-center bg-black text-white h-full md:h-1/5"
>
  <div
    class="max-w-7xl h-full flex flex-col lg:flex-row justify-center items-center"
  >
    <div class="w-full md:w-1/2 lg:w-1/4">
      <img
        loading="lazy"
        src="/logos/logo_transparente.png"
        height="50%"
        class="object-cover object-center"
      />
    </div>
    <div class="flex flex-col gap-4 text-lg">
      <h1>Av. Obsidiana #2552, Residencial</h1>
      <h1>Victoria, Zapopan, Jal.</h1>
      <h1>Teléfono: (33) 3218 0547</h1>
      <h1>Correo: informes@torreobsidiana.com</h1>
    </div>
  </div>
</footer>
