<footer>
    <div class="footer-content gotham">
        <div class="footer-title">LOGO</div>
        <div class="column"></div>
        <div class="column">
            <p>Av. Obsidiana #2552, Residencial Victoria, Zapopan, Jal.</p>
        </div>
        <div class="column">
            <p>Oficina de ventas: (33) 1763 8744</p>
            <p>Tel. via WhatsApp: (33) 3968 1326</p>
        </div>
        <div class="column">
            <p>torreobsidiana@hotmail.com</p>
        </div>
    </div>
</footer>

<style>
    footer {
        background: #040505;
        color: #feffff;
        padding-top: 20px;
    }

    .footer-content {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        max-width: 960px;
        margin: 0 auto;
        text-align: flex;
        gap: 10px;
        margin-left: auto;
    }

    .footer-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    .column {
        width: 30%;
        padding: 10px;
    }

    .column p {
        line-height: 30px;
        font-size: 16px;
        margin-bottom: 20px;
        margin-inline: 10px;
        margin-right: 0px;
    }

    @media only screen and (max-width: 600px) {
        .footer-content {
            flex-direction: column;
            align-items: center;
        }

        .column {
            width: 50%;
            padding: 0;
            text-align: center;
        }
    }
</style>
