<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <footer>
        <div class="footer-content">
            <div class="footer-title">LOGO TORRE OBSIDIANA</div>
            <div class="column">
                <p>Av. Obsidiana #2552</p>
                <p> Residencial Victoria, Zapopan, Jal.</p>
            </div>
            <div class="column">
                <p>Oficina de ventas: (33) 1763 8744</p>
            </div>
            <div class="column">
                <p>WhatsApp: (33) 3968 1326</p>
            </div>
            <div class="column">
                <p>torreobsidiana@hotmail.com</p>
            </div>
        </div>
    </footer>
</body>
</html>

<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #feffff;
}

@font-face {
    font-family: 'MiFuente';
    src: url('fonts/Gotham-Book.woff') format('woff');
}

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #040505;
    height: 15vw;
    width: 100vw;
    font-family: 'MiFuente', sans-serif;
    padding-top: 20px;
    color: #FEFFFF;

    display: flex;
    justify-content: center;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:18px;
    max-width: 100vw;
    justify-content: center;
    margin: 40px;
    margin-top: 80px;
    text-align: right;
    align-items: flex-start;
}

.footer-title h3{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    
}

.footer-title {
    grid-column: 1/5;
    display: flex;
    justify-content: center;
    margin-bottom: -1000px;
}


.column p{
    line-height: 29px;
    font-size: 16px;
    margin-right: 50px;
   
    
}
 

</style>
