<div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-24">
    <div class="-m-1 flex flex-wrap md:-m-2">
        <div class="flex w-1/2 flex-wrap">
            <div class="w-1/2 p-1 md:p-2">
                <img    
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center"
                    src="/COWORKING_1.0007.png"
                    loading="lazy"
                    />
                </div>
                <div class="w-1/2 p-1 md:p-2">
                    <img    
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center"
                    src="/GYM_1.0001.png"
                    loading="lazy"
                />
            </div>
            <div class="w-full p-1 md:p-2">
                <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center"
                    src="/SOCIAL_EXT_1.0001.png"
                    loading="lazy"
                />
            </div>
        </div>
        <div class="flex w-1/2 flex-wrap">
            <div class="w-full p-1 md:p-2">
                <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center"
                    src="/LOBBY_1.0008.png"
                    loading="lazy"
                    />
                </div>
                <div class="w-1/2 p-1 md:p-2">
                    <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center"
                    src="/TERRAZA_1.0000.png"
                    loading="lazy"
                    />
                </div>
                <div class="w-1/2 p-1 md:p-2">
                    <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center"
                    src="/SOCIAL_1.0001.png"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
    <div class="-m-1 flex flex-wrap md:-m-2">
        <div class="flex w-1/2 flex-wrap">
            <div class="w-full p-1 md:p-2">
                <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center"
                    src="/LOBBY_1.0007.png"
                    loading="lazy"
                />
            </div>
        </div>
        <div class="flex w-1/2 flex-wrap">
            <div class="w-full p-1 md:p-2">
                <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center"
                    src="/LOBBY_1.0001.png"
                    loading="lazy"
                    />
                </div>
                <div class="w-1/2 p-1 md:p-2">
                    <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center"
                    src="/SOCIAL_1.0000.png"
                    loading="lazy"
                    />
                </div>
                <div class="w-1/2 p-1 md:p-2">
                    <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center"
                    src="/TERRAZA_1.0001.png"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
</div>
