<section
  id="hero"
  class="w-full max-w-full h-[50vh] md:h-[105vh] flex flex-col items-center relative overflow-clip"
>
  <img
    class="object-cover object-center w-full max-w-screen h-full"
    src="/principalHero.png"
    alt="Imagen Edificio"
    loading="eager"
  />

  <h1
    class="text-white uppercase tracking-widest absolute text-3xl right-5 bottom-5 text-end md:text-5xl md:right-10 md:bottom-20 md:tracking-[15px] gotham drop-shadow-lg"
  >
    Concretando sueños
  </h1>
</section>
