<section
  id="hero"
  class="w-full h-[50vh] md:h-[70vh] flex flex-col items-center relative snap-center"  
>

  <img src="/principalHero.png">
  <img class="object-cover object-center h-full w-full" />
 

  <h1 class="
    text-white uppercase tracking-widest absolute text-3xl right-5 bottom-5 text-end
    md:text-5xl md:right-10 md:bottom-20 md:tracking-[15px]
  "
  >
    Concretando sueños
  </h1>
</section>

