<template>
  <div class="map-container">
    <div id="map"></div>
  </div>
</template>

<div class="container">
    <h1>Location</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.5797128051954!2d-103.40232508507373!3d20.64598118620705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428adcc3bb40719%3A0x7bf7874749c7723c!2sAv.%20Obsidiana%202552%2C%20Victoria%2C%2045060%20Zapopan%2C%20Jal.!5e0!3m2!1ses!2smx!4v1689487375209!5m2!1ses!2smx" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>



<style>
    *{
        margin:0;
        padding:0;
        box.sizing: border-box;

    }
    .container{
        width:100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
    }

    h1{
        margin-bottom: 10px;
    }
    iframe{
        width: 80%;
        height: 500px;
    }
</style>