<section
    id="objetivo"
    class="min-h-screen flex flex-col justify-center items-center gotham"
>
    <h3 class="tracking-wider text-3xl font-bold my-5 uppercase">
        Nuestro objetivo
    </h3>
    <div
        class="max-w-7xl mx-auto flex flex-col items-center md:flex-row font-family"
    >
        <div>
            <p class="text-xl px-5 text-justify my-10 md:text-2xl pr-55">
                Nuestro principal objetivo es superar las expectativas de
                nuestros clientes, creando espacios y experiencias que van más
                allá de un departamento. Buscamos diseñar espacios vanguardistas
                que generan bienestar, creando la dualidad perfecta entre
                armonía y funcionalidad. Proporcionando calidad y seguridad en
                tu inversión, en uno de los puntos más estratégicos de la
                ciudad.
            </p>

            <ul
                class="text-xl px-10 text-justify mb-10 list-disc md:text-2xl pr-30"
            >
                <li>55 Departamentos</li>
                <li>11 Niveles</li>
                <li>6 Modelos</li>
            </ul>
        </div>

        <img
            class="object-cover object-center md:h-[550px] md:rounded-md"
            alt="Exterior -> 1.00000"
            src="/exteriorObjet.png"
            loading="lazy"
        />
    </div>
</section>
