<section
    id="objetivo"
    class="h-screen w-full snap-center flex justify-center"
>
    <div class="max-w-7xl flex flex-col items-center justify-center md:flex-row">
        <div>
            <p class="text-xl px-5 text-justify my-10 md:text-2xl">
                Nuestro principal objetivo es superar las expectativas de nuestros
                clientes, creando espacios y experiencias que van más allá de un
                departamento. Buscamos diseñar espacios vanguardistas que generan
                bienestar, creando la dualidad perfecta entre armonía y funcionalidad.
                Proporcionando calidad y seguridad en tu inversión, en uno de los puntos
                más estratégicos de la ciudad.
            </p>

            <ul class="text-xl px-10 text-justify mb-10 list-disc md:text-2xl">
                <li>55 departamentos</li>
                <li>11 niveles</li>
                <li>6 modelos</li>
            </ul>
        </div>
    
        <img
            class="object-cover object-center md:h-[600px] md:rounded-lg"
            alt="Exterior -> 1.00000"
            src="/exterior1.webp"
            loading="lazy"
        />
    </div>
</section>
