<section
  id="objetivo"
  class=" flex flex-col justify-start items-center gotham"
>

  <div
    class="max-w-7xl mx-auto flex flex-col items-center md:flex-row font-family"
  >
    <div>
      <p class="text-xl px-5 text-justify my-10 md:text-2xl pr-55">
        Nuestro principal objetivo es superar las expectativas de nuestros
        clientes, creando espacios y experiencias que van más allá de un
        departamento. Buscamos diseñar hogares vanguardistas que generan
        bienestar, creando la dualidad perfecta entre armonía y funcionalidad. 
        Excelente calidad; en uno de los puntos más estratégicos de la ciudad, garantizando asi, 
        plusvalia y seguridad en tu inversión.
      </p>

      <div class="w-full flex justify-center">
        <ul class="text-xl px-10 mb-10 list-disc md:text-2xl pr-30">
          <li>55 Departamentos</li>
          <li>11 Niveles</li>
          <li>6 Modelos</li>
          <li>1 Local Comercial</li>
        </ul>
      </div>
    </div>

    <img
      class="object-cover object-center md:h-[550px] md:rounded-md"
      alt="Exterior -> 1.00000"
      src="/exteriorObjet.png"
      loading="lazy"
    />
  </div>
</section>

<style>
  h3{
    padding:20px
  }
</style>
